@use './mixins/_mixins' as *;
$ink:   #111827;   
.blogs-section {
  background-image: url("/Hero-Gradient.webp");
  background-size: contain;
  background-position: center;
  background-repeat: repeat;

  .blog-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    .blog-card-title{
        color: #0F204B;
        font-family: "Inter Tight";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px; /* 130% */
    }
    .blog-card-desc{
        color: #0F204B;
        font-family: "Inter Tight";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px; /* 131.25% */
        span{
            color: #0F204B;
            font-family: "Inter Tight";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px; /* 131.25% */
        }
    }
    &:hover {
      transform: translateY(-6px);
    //   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    }
  }
}

.latest-posts-section {
  background-color: #ffffff;

  .font-nohemi {
    font-family: "Nohemi", sans-serif;
  }

  .font-intertight {
    font-family: "Inter Tight", sans-serif;
  }

  .category-btn {
    font-family: "Inter Tight", sans-serif;
    border-radius: 8px;
    border: 1px solid #C5D0FF;
    background: #FBFBFB;
    color: #0c1715;
    padding: 6px 16px;
    transition: all 0.2s ease;

    &:hover {
      border-color: #1A1617;
      color: #1A1617;
    }

    &.active {
      background-color: #7FCFA8;
      color: #ffffff;
      border-color: #7FCFA8;
    }
  }

  .post-card {
    transition: all 0.3s ease;
    &:hover {
      transform: translateY(-6px);
      //box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    }
  }
}
  .blog-stats{
    color: #0F204B !important;
    font-family: "Inter Tight";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; /* 131.25% */
    .date{
      color: #0F204B;
      font-family: "Inter Tight";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px; /* 131.25% */
    }
    .read-time{
      color: #464646;
      font-family: "Inter Tight";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px; /* 131.25% */
    }
  }
  .box-wrapper{
      border: 1px solid #D1D1D1;
      border-radius: 24px;
      background: url('../assets/white-noice.svg');
      background-size: cover;
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .divider{
        width: auto;
      height: 1px;
        background: rgba(82, 113, 255, 0.20);
    }
    .about-card {
        transition: all 0.3s ease;
        font-family: "Inter Tight", sans-serif;

        &:hover {
          transform: translateY(-4px);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
        }

        .font-nohemi {
          font-family: "Nohemi", sans-serif;
        }

        svg {
          opacity: 0.95;
        }
      }
      .clients-card {
        transition: all 0.3s ease;

        &:hover {
          transform: translateY(-4px);
        }

        .font-nohemi {
          font-family: "Nohemi", sans-serif;
        }
        .client-logo{
          width: 300px;
        }

        .client-logo img {
          opacity: 0.8;

          &:hover {
            opacity: 1;
            transform: scale(1.05);
          }
        }
      }


  }

.swiper-wrapper img {
  height: 40px;
  object-fit: scale-down;
}

.client-logo .swiper-wrapper {
  transition-timing-function: linear !important;
}
.yta-cta {
  position: relative;
  background: url('../assets/noice.svg');
  background-repeat: no-repeat;
  background-size: cover;
  color: $ink;
}

.yta-cta-bg {
  background:
    radial-gradient(1px 1px at 20px 20px, rgba(255,255,255,.25) 1px, transparent 1px),
    linear-gradient(transparent 79px, rgba(255,255,255,.22) 80px),
    linear-gradient(90deg, transparent 79px, rgba(255,255,255,.22) 80px);
  background-size: 40px 40px, 80px 80px, 80px 80px;
  opacity: .25;
}

.cta-title {
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px; /* 131.25% */
  letter-spacing: -0.32px;
}

.cta-sub {
  color: #FBFBFB;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px; /* 131.25% */
}

/* Button */
.cta-btn {
  color: #fff;
  font-weight: 600;
  padding: 14px 32px;
  border-radius: 8px;
  background: #152651;
  transition: opacity .2s ease, transform .04s ease;
  text-decoration: none;
  line-height: 25.6px;
  & svg{
    margin-top: 3px;
    margin-left: 8px;
    stroke: #fff;
  }
}
.cta-btn:hover { opacity: .95;
  & svg{
    stroke: #fff;
  } 

}
.cta-btn:active { transform: translateY(1px); }

/* Blog Single SCSS */

.blog-post-section {
  background: #EEF1FF;
  .wp-block-list{
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
    li{
        margin-bottom: 8px;
    }
  }
  .wp-block-table {
    overflow-x: auto;
  }

  .wp-block-table table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  }

  /* Header */
  .wp-block-table thead th,
  .wp-block-table tbody tr:first-child th {
    background: linear-gradient(135deg, #4f46e5, #6366f1);
    color: #ffffff;
    font-weight: 600;
    text-align: left;
    padding: 14px 16px;
  }

  /* Cells */
  .wp-block-table td,
  .wp-block-table th {
    padding: 14px 16px;
    border-bottom: 1px solid #e5e7eb;
  }

  /* Zebra rows */
  .wp-block-table tbody tr:nth-child(even) td {
    background-color: #f9fafb;
  }

  /* Hover effect */
  .wp-block-table tbody tr:hover td {
    background-color: #eef2ff;
    transition: background 0.2s ease-in-out;
  }

  /* Last row border fix */
  .wp-block-table tbody tr:last-child td {
    border-bottom: none;
  }
  .wp-block-image{
    margin-top: 15px;
    margin-bottom: 15px;
    img{
        width: 100%;
        height: auto;
        border-radius: 12px;
        object-fit: cover;
    }
  }

  .breadcumb{
    color: #334155;
    font-family: "Inter Tight";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 135.714% */
    span{
        color: #0F204B;
        font-family: "Inter Tight";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 19px; /* 135.714% */
    }
    svg{
        margin: 0 8px;
    }
  }

  .font-nohemi {
    font-family: "Nohemi", sans-serif;
  }

  .font-intertight {
    font-family: "Inter Tight", sans-serif;
  }

  article p {
    color: #0c1715cc;
    margin-bottom: 10px;
    a{
      color: #5271FF;
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 2px;
    }
  }
  h1{
    color: #0F204B;
    font-family: "Inter Tight";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px; /* 131.25% */
  }

  h2 {
    color: #0F204B;
    font-family: "Inter Tight";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px; /* 131.25% */
    scroll-margin-top: 100px; // for smooth anchor links
  }
  h3{
    color: #0F204B;
    font-family: "Inter Tight";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; /* 131.25% */
  }
  h4{
    color: #0F204B;
    font-family: "Inter Tight";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px; /* 135.714% */
    margin-bottom: 5px;
  }
  h6{
    color: #0F204B;
    font-family: "Inter Tight";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
     margin-bottom: 5px;
  }
  .side-bar-title{
    font-family: "Inter Tight";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 131.25% */
    .active{
        color: #5271FF;
    }
  }

  aside a {
    text-decoration: none;
  }

  aside ul li a:hover {
    text-decoration: underline;
  }
}


.podcast-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

.podcast-header span {
  color: #3b3be3;
}

.podcast-header p {
  max-width: 600px;
  margin-top: 10px;
  color: #555;
}

.watch-link {
  color: #0F204B;
  font-family: "Inter Tight";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 131.25% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
}

.video-wrapper {
  margin-top: 64px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.thumbnail {
  position: relative;
  cursor: pointer;
}

.thumbnail img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
  border-radius: 20px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.play-button:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

iframe {
  width: 100%;
  height: 500px;
  border-radius: 20px;
}

