---
import Layout from "@layouts/Layout.astro";
import StatusCard from "@components/StatusCard";
import Hero from "@components/HeroSection.astro";
let candidate = {
  name: "",
  applyDate: "",
  jobTitle: "",
  status: "",
  candidateId: "",
  socials: {
    facebook: "https://www.facebook.com/lifeatlevein",
    instagram: "https://www.instagram.com/lifeatlevein/?igsh=dDFxYnp0Znc3M3Uw#",
    tiktok: "https://www.tiktok.com/@leveingroup?_t=8qEPlepx4cs&_r=1",
  },
};
---

<Layout>
  <Hero
    title="My Application Status"
    description="Track the progress of your job application with us. We value transparency and want to keep you informed every step of the way."
  />
  <section id="status" class="my-2 py-16 flex w-full items-center">
    <div class="max-w-7xl mx-auto px-4">
      <StatusCard
        client:load
        socials={{
          facebook: "https://www.facebook.com/lifeatlevein",
          instagram:
            "https://www.instagram.com/lifeatlevein/?igsh=dDFxYnp0Znc3M3Uw#",
          tiktok: "https://www.tiktok.com/@leveingroup?_t=8qEPlepx4cs&_r=1",
        }}
      />
    </div>
  </section>
</Layout>
