<section class="text-[#FBFBFB] my-30">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="levein-cta-card rounded-3xl px-6 py-16 text-center md:px-10 md:py-20">
      <h2 class="font-primary text-[48px] font-semibold leading-tight tracking-tight md:text-5xl">
        Your skills deserve a global stage.
      </h2>

      <p class="mx-auto mt-2 max-w-2xl text-sm leading-relaxed text-[#FBFBFB]/85 md:text-base">
        Join over 150 professionals who chose a global career without leaving home.
        Levein handles the rest.
      </p>

      <a
        href="/careers"
        class="mt-8 inline-flex items-center gap-2 rounded-full bg-[#E3F0E0] px-7 py-3 text-[18px] font-semibold text-[#1A1617] transition hover:bg-[#7fcfa8]"
      >
        Browse Openings
        <span class="flex items-center justify-center ">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M10.0003 18.3346C14.6027 18.3346 18.3337 14.6037 18.3337 10.0013C18.3337 5.39893 14.6027 1.66797 10.0003 1.66797C5.39795 1.66797 1.66699 5.39893 1.66699 10.0013C1.66699 14.6037 5.39795 18.3346 10.0003 18.3346Z" stroke="#1A1617" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M7.08301 10H12.083" stroke="#1A1617" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.417 12.5L12.917 10L10.417 7.5" stroke="#1A1617" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </span>
      </a>
    </div>
  </div>
</section>